.container {
  display: flex;
}

.p {
  margin-right: 24px;
}

.select {
  background: #E4E3E2;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
}
